@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700;900&display=swap");
ul, ol {
  margin: 0;
  padding: 0; }

li {
  list-style: none; }

a {
  color: #1e1633; }

a, a:hover, a:focus {
  text-decoration: none; }

p {
  margin: 0; }

img {
  max-width: 100%; }

input, textarea, button, button:active, button:focus {
  outline-color: #a5cdf2; }

*, *:before, *:after {
  box-sizing: border-box;
  -webkit-box-sizing: border-box; }

body {
  margin: 0;
  padding: 0;
  background: #fff;
  color: #1c1e21;
  font-family: 'Roboto', sans-serif;
  direction: ltr;
  line-height: 1.34;
  unicode-bidi: embed;
  font-size: 14px; }
  @media only screen and (max-width: 991px) {
    body {
      font-size: 13.5px;
      line-height: 16px; } }

input:focus {
  outline: none !important; }

@media only screen and (max-width: 1199px) {
  .d-none-tablet-horizontal {
    display: none; } }

.container {
  max-width: 100%;
  width: 100%;
  margin: 0 auto;
  padding: 0 15px; }

header {
  background-color: #fff;
  position: relative; }

.navigation {
  display: flex;
  align-items: center; }

.logo {
  width: 35px;
  margin-right: 15px; }
  .logo h1 {
    margin: 0;
    line-height: 0; }
    .logo h1 a {
      display: block; }

.nav-block {
  display: flex;
  align-items: center; }
  .nav-block ul.menu-parent {
    display: flex; }
    @media only screen and (max-width: 576px) {
      .nav-block ul.menu-parent {
        background: #f2f2f2; } }
    .nav-block ul.menu-parent > li > a {
      display: block;
      padding: 10px;
      padding: 5px 15px;
      text-transform: uppercase;
      font-size: 14px; }
    .nav-block ul.menu-parent > li:hover > a, .nav-block ul.menu-parent > li.active > a {
      background-color: #1D78FD;
      color: #fff; }
    .nav-block ul.menu-parent > li:hover > .menu-child, .nav-block ul.menu-parent > li.active > .menu-child {
      display: flex; }
      @media only screen and (max-width: 576px) {
        .nav-block ul.menu-parent > li:hover > .menu-child, .nav-block ul.menu-parent > li.active > .menu-child {
          display: block; } }
    .nav-block ul.menu-parent > li .menu-child {
      position: absolute;
      top: 98%;
      left: 0;
      align-items: center;
      background: #1D78FD;
      width: 100%;
      padding: 5px;
      display: none; }
      .nav-block ul.menu-parent > li .menu-child li {
        margin-right: 10px; }
        .nav-block ul.menu-parent > li .menu-child li a {
          display: flex;
          align-items: center;
          justify-content: center;
          flex-direction: column;
          padding: 9px 13px 2px;
          color: #fff;
          border: 1px solid rgba(255, 255, 255, 0.35);
          font-size: 14px; }
          .nav-block ul.menu-parent > li .menu-child li a img, .nav-block ul.menu-parent > li .menu-child li a svg {
            width: 16px;
            margin-bottom: 4px; }
          .nav-block ul.menu-parent > li .menu-child li a:hover {
            background: rgba(255, 255, 255, 0.14); }
      @media only screen and (max-width: 576px) {
        .nav-block ul.menu-parent > li .menu-child {
          position: unset;
          display: block;
          background: #1d78fdc9;
          padding: 0; }
          .nav-block ul.menu-parent > li .menu-child li {
            margin-right: 0; }
            .nav-block ul.menu-parent > li .menu-child li a {
              background-color: transparent;
              border: none;
              border-bottom: 1px solid #ffffff63;
              flex-direction: initial;
              justify-content: flex-start; }
              .nav-block ul.menu-parent > li .menu-child li a img, .nav-block ul.menu-parent > li .menu-child li a svg {
                margin-right: 6px; }
            .nav-block ul.menu-parent > li .menu-child li:last-child a {
              border-bottom: none; } }
    @media only screen and (max-width: 576px) {
      .nav-block ul.menu-parent {
        left: -100%;
        display: block;
        position: fixed;
        background: #fff;
        top: 31px;
        width: 100%;
        height: 100%;
        transition: 0.3s;
        z-index: 999; }
        .nav-block ul.menu-parent > li {
          border-bottom: 1px solid #ddd; }
          .nav-block ul.menu-parent > li > a {
            padding: 10px 15px;
            color: #212121;
            font-weight: 600;
            text-transform: initial; }
          .nav-block ul.menu-parent > li:hover a {
            background: #f7f7f7;
            color: #212121; } }
  .nav-block.open-mb .menu-parent {
    left: 0;
    transition: 0.3s; }

.menu-private {
  display: none;
  position: fixed;
  right: 15px;
  top: 7px; }
  @media only screen and (max-width: 576px) {
    .menu-private {
      top: 7px; } }
  .menu-private button {
    background: transparent;
    border: none;
    padding: 0;
    outline: none;
    height: auto; }
    .menu-private button .line-main {
      background: #707070;
      width: 18px;
      height: 3px;
      border-radius: 10px;
      display: block;
      margin-bottom: 3px;
      pointer-events: none;
      transition: all 0.3s; }
  .menu-private .view-menu-mb.change-icon-mb .line-1 {
    transform: translateY(5px) translateX(0) rotate(45deg);
    transition: all 0.3s; }
  .menu-private .view-menu-mb.change-icon-mb .line-2 {
    opacity: 0;
    transition: all 0.3s; }
  .menu-private .view-menu-mb.change-icon-mb .line-3 {
    transform: translateY(-7px) translateX(0) rotate(-46deg);
    transition: all 0.3s; }
  @media only screen and (max-width: 576px) {
    .menu-private {
      display: block; } }

.header-home {
  border-bottom: 1px solid #ddd; }
  @media only screen and (max-width: 576px) {
    .header-home {
      position: fixed;
      top: 0;
      left: 0;
      width: 100%;
      background-color: #fff;
      z-index: 999; } }

.navigation-head {
  display: flex;
  justify-content: space-between; }
  @media only screen and (max-width: 576px) {
    .navigation-head {
      padding-right: 27px; } }

.block-info {
  display: flex; }
  .block-info .language {
    margin-right: 10px; }
    .block-info .language a {
      transition: all 0.3s ease-out; }
      .block-info .language a img {
        width: 20px; }
      .block-info .language a:hover {
        transform: scale(1.1);
        transition: all 0.3s ease-out; }

.user-name {
  font-weight: 500; }

main {
  padding: 75px 0px 10px; }
  @media only screen and (max-width: 576px) {
    main {
      padding: 35px 0px 10px; } }

.bg--gray {
  background: #eeeeee;
  border: 1px solid #ddd;
  border-top: none; }

.sc-headbooking {
  margin-bottom: 30px; }
  @media only screen and (max-width: 1199px) {
    .sc-headbooking .col-md-7 {
      -ms-flex: 0 0 75%;
      flex: 0 0 75%;
      max-width: 75%; } }
  @media only screen and (max-width: 1199px) and (max-width: 576px) {
    .sc-headbooking .col-md-7 {
      -ms-flex: 0 0 100%;
      flex: 0 0 100%;
      max-width: 100%; } }

  @media only screen and (max-width: 991px) {
    .sc-headbooking .col-md-2 {
      -ms-flex: 0 0 20%;
      flex: 0 0 20%;
      max-width: 20%; } }
  @media only screen and (max-width: 767px) {
    .sc-headbooking .col-md-2 {
      -ms-flex: 0 0 100%;
      flex: 0 0 100%;
      max-width: 100%; } }
  @media only screen and (max-width: 576px) {
    .sc-headbooking .row {
      margin: 0; }
    .sc-headbooking .col-md-2, .sc-headbooking .col-md-7 {
      padding: 0; }
    .sc-headbooking .container {
      padding: 0; } }

.txt-call {
  font-weight: 600;
  padding-top: 7px;
  text-align: right;
  color: #fff; }
  @media only screen and (max-width: 767px) {
    .txt-call {
      margin-bottom: 10px;
      text-align: left;
      color: #000; } }

.txt-door {
  font-weight: 600;
  margin-right: 10px;
  color: #fff; }
  @media only screen and (max-width: 576px) {
    .txt-door {
      color: #000;
      margin-bottom: 5px; } }

.ticket {
  display: flex;
  align-items: center; }
  @media only screen and (max-width: 576px) {
    .ticket {
      display: block; } }

.sl-door {
  margin-right: 20px; }
  @media only screen and (max-width: 576px) {
    .sl-door {
      margin-right: 0;
      margin-bottom: 10px; } }
  .sl-door select {
    width: 130px;
    background-color: #fff;
    height: 28px;
    border-radius: 2px;
    border: 1px solid #6c757d;
    transition: all 0.3s ease;
    padding: 0 9px; }
    .sl-door select:hover {
      border: 1px solid #40A9FF;
      transition: all 0.3s ease; }
    @media only screen and (max-width: 991px) {
      .sl-door select {
        width: 200px; } }
    @media only screen and (max-width: 576px) {
      .sl-door select {
        width: 100%; } }

.btn-call {
  color: #fff;
  background: #f38b2e;
  border-radius: 2px;
  display: block;
  margin-right: 10px;
  padding: 0 10px;
  border: none;
  transition: all 0.3s ease; }
  .btn-call:hover {
    background: #f38b2e;
    transition: all 0.3s ease; }

button {
  outline: 0;
  height: 28px; }

.btn-callback {
  border: 1px solid #d9d9d9;
  padding: 0 10px;
  border-radius: 2px;
  background: #F8F9FA;
  transition: all 0.3s ease; }
  .btn-callback:hover {
    background: #dbdcdd;
    transition: all 0.3s ease; }

.cl-red {
  color: red; }

.detail-block {
  display: flex;
  flex-wrap: wrap; }

.block-content {
  -ms-flex: 0 0 66.66666667%;
  flex: 0 0 66.66666667%;
  max-width: 66.66666667%;
  width: 100%;
  padding: 7px;
  border-right: 1px solid #DEE2E6; }
  @media (max-width: 1367px) {
    .block-content {
      -ms-flex: 0 0 70%;
      flex: 0 0 70%;
      max-width: 70%; }
      .block-content .col-md-3 {
        -ms-flex: 0 0 33.3333%;
        flex: 0 0 33.3333%;
        max-width: 33.3333%; } }
  @media only screen and (max-width: 991px) {
    .block-content .col-md-3 {
      -ms-flex: 0 0 50%;
      flex: 0 0 50%;
      max-width: 50%; } }
  @media only screen and (max-width: 576px) {
    .block-content {
      -ms-flex: 0 0 100%;
      flex: 0 0 100%;
      max-width: 100%;
      border-right: 0; }
      .block-content .col-md-3 {
        -ms-flex: 0 0 100%;
        flex: 0 0 100%;
        max-width: 100%; } }

.block-sp {
  -ms-flex: 0 0 33.3333%;
  flex: 0 0 33.3333%;
  max-width: 33.3333%;
  width: 100%;
  padding: 7px; }
  @media (max-width: 1367px) {
    .block-sp {
      -ms-flex: 0 0 30%;
      flex: 0 0 30%;
      max-width: 30%; }
      .block-sp .col-md-6 {
        -ms-flex: 0 0 100%;
        flex: 0 0 100%;
        max-width: 100%; } }
  @media only screen and (max-width: 576px) {
    .block-sp {
      -ms-flex: 0 0 100%;
      flex: 0 0 100%;
      max-width: 100%; } }

@media only screen and (max-width: 576px) {
  .w-100-mobile {
    width: 100%; } }

.block-field {
  margin-bottom: 4px;
  display: flex;
  align-content: center;
  align-items: center; }
  .block-field label {
    margin-bottom: 0px;
    font-weight: 500;
    min-width: 101px;
    line-height: 15px; }
  .block-field select, .block-field input {
    width: 100%;
    background-color: #fff;
    height: 28px;
    border-radius: 2px;
    border: 1px solid #6c757d;
    transition: all 0.3s ease;
    padding: 0 5px; }
    .block-field select:hover, .block-field select:focus, .block-field input:hover, .block-field input:focus {
      border: 1px solid #40A9FF;
      transition: all 0.3s ease; }
  .block-field input {
    padding: 0 5px; }
  .block-field input[type=checkbox] {
    width: auto;
    height: auto;
    padding: 0;
    margin-right: 7px; }
  @media only screen and (max-width: 1199px) {
    .block-field {
      flex-direction: column;
      align-items: flex-start; }
      .block-field label {
        margin-bottom: 4px;
        display: block;
        min-width: auto; } }

.zone-date {
  display: flex; }

.birthday-field {
  display: flex; }

.block-cs {
  display: flex; }
  .block-cs .block-field-cb input.ck-first {
    width: 100px; }
    @media (max-width: 1367px) {
      .block-cs .block-field-cb input.ck-first {
        width: 45%; } }

.action-detail {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0.5rem 7px 0;
  border-top: 1px solid #DEE2E6;
  width: 100%; }
  @media only screen and (max-width: 576px) {
    .action-detail {
      padding: 7px 0; } }

.print {
  display: flex;
  align-items: center;
  justify-content: center; }
  .print span {
    font-weight: 500;
    margin-right: 5px; }

.btn-save {
  color: #fff;
  background: #28A745;
  border-radius: 2px;
  display: block;
  margin-left: 10px;
  padding: 0 17px;
  border: none;
  transition: all 0.3s ease;
  display: flex;
  align-items: center; }
  .btn-save i {
    color: #fff;
    margin-right: 3px; }
  .btn-save:hover {
    background: #218838;
    transition: all 0.3s ease; }
  .btn-save.btn-reject {
    background: #DC3545;
    transition: all 0.3s ease; }
    .btn-save.btn-reject:hover {
      background: #C82333;
      transition: all 0.3s ease; }
  .btn-save.btn-search {
    white-space: nowrap;
    background: #17A2B8; }
    .btn-save.btn-search:hover {
      background: #138496; }
    @media only screen and (max-width: 991px) {
      .btn-save.btn-search {
        display: inline-block; } }
    @media only screen and (max-width: 576px) {
      .btn-save.btn-search {
        margin-left: 0; } }

.action-right {
  display: flex;
  align-items: center;
  justify-content: center; }

.list-reception {
  padding: 7px 7px 0;
  display: block;
  width: 100%; }
  @media only screen and (max-width: 576px) {
    .list-reception {
      padding: 7px 0 0; } }
  .list-reception .head-reception {
    border-bottom: 1px solid #DEE2E6; }
    .list-reception .head-reception .txt-listreception {
      display: inline-block;
      color: #1890ff;
      padding: 4px 0 10px;
      border-bottom: 1px solid #1890ff;
      font-weight: 500; }

.block-search {
  padding: 7px 0;
  display: flex;
  align-items: center;
  justify-content: space-between; }

.block-search-right {
  display: flex; }
  @media only screen and (max-width: 991px) {
    .block-search-right {
      display: block; } }
  .block-search-right input {
    width: 150px;
    background-color: #fff;
    height: 28px;
    border-radius: 2px;
    border: 1px solid #6c757d;
    transition: all 0.3s ease;
    padding: 0 7px;
    margin-left: 10px; }
    .block-search-right input:hover, .block-search-right input:focus {
      border: 1px solid #40A9FF;
      transition: all 0.3s ease; }
    .block-search-right input::placeholder {
      color: #c9c9c9; }
    @media only screen and (max-width: 991px) {
      .block-search-right input {
        margin-bottom: 10px; }
        .block-search-right input:first-child {
          margin-left: 0; } }
    @media only screen and (max-width: 576px) {
      .block-search-right input {
        width: 100%;
        margin-left: 0; } }
  .block-search-right button {
    margin-left: 10px; }
  @media only screen and (max-width: 991px) {
    .block-search-right .datepicker {
      display: inline-flex;
      margin-bottom: 10px;
      width: 150px; } }
  @media only screen and (max-width: 767px) {
    .block-search-right .datepicker {
      margin-right: 10px; } }
  @media only screen and (max-width: 576px) {
    .block-search-right .datepicker {
      width: 100%; } }

.bg--smoke {
  background: #eee;
  border: 1px solid #ddd;
  border-top: none; }

.tbl-list {
  padding: 7px;
  overflow: auto; }
  @media (min-width: 1200px) {
    .tbl-list {
      width: calc(100% - 229px); }
      .tbl-list .colfixed {
        position: absolute;
        right: 144px;
        top: auto;
        width: 120px;
        background: #fff;
        text-align: center;
        margin-top: -1px; }
      .tbl-list .colfixed2 {
        position: absolute;
        right: 25px;
        top: auto;
        width: 120px;
        margin-top: -1px;
        background: #fff; } }
  @media only screen and (max-width: 576px) {
    .tbl-list {
      padding: 7px 0; } }
  .tbl-list::-webkit-scrollbar {
    height: 7px; }
  .tbl-list::-webkit-scrollbar-track {
    background: #f1f1f1; }
  .tbl-list::-webkit-scrollbar-thumb {
    background: #888; }
  .tbl-list::-webkit-scrollbar-thumb:hover {
    background: #555; }
  .tbl-list table {
    background: #fff;
    width: 100%; }
    .tbl-list table thead tr th {
      font-weight: 500;
      padding: 6px 10px;
      border: 1px solid #C2C4C4;
      background-color: #cbcdd0 !important;
      height: 31.75px !important; }
    .tbl-list table tbody tr td {
      padding: 3px 10px;
      border: 1px solid #C2C4C4; }
    .tbl-list table tbody tr:last-child .colfixed {
      height: 27px; }
    .tbl-list table tbody tr:hover {
      background: #e0e0e0; }

.nodata {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center; }

.btn-action {
  margin-right: 10px; }
  .btn-action:last-child {
    margin-right: 0; }
  .btn-action i {
    color: #40A9FF; }

.state {
  min-width: 77px;
  padding: 0px 6px;
  border-radius: 2px;
  display: block; }
  .state.state-success {
    border: 1px solid #28A745;
    color: #fff;
    background: #28A745; }
  .state.state-pending {
    border: 1px solid #d8a50c;
    color: #fff;
    background: #d8a50c; }
  .state.state-reject {
    border: 1px solid #DC3545;
    color: #fff;
    background: #DC3545; }

.form-control:focus {
  box-shadow: none; }

.input-group-text {
  border-left: none;
  background: #fff;
  padding: .375rem 9px; }

.datepicker .input-group-text {
  height: 28px;
  border: 1px solid #6c757d; }

.tbl-foot {
  padding: 5px 10px; }

.tab-td {
  border-bottom: 1px solid #ddd; }
  .tab-td .nav-item {
    position: relative;
    margin-bottom: -2px; }
    .tab-td .nav-item .nav-link {
      display: block;
      padding: 5px 20px 5px 10px;
      border-radius: 0;
      background: linear-gradient(0deg, #929292 0, #e0e0e0 50%);
      border-color: #ddd; }
      .tab-td .nav-item .nav-link.active {
        border: 1px solid #ddd;
        border-color: #ddd;
        border-bottom: 1px solid #eeeeee;
        background: #eeeeee;
        color: #000;
        font-weight: bold; }
      .tab-td .nav-item .nav-link.active ~ .fa {
        color: #000; }
      .tab-td .nav-item .nav-link:hover {
        border-color: #ddd;
        border-bottom: 1px solid #F0F2F5;
        color: #000; }
    .tab-td .nav-item .fa {
      position: absolute;
      right: 8px;
      top: 10px;
      cursor: pointer;
      font-size: 9px; }
  .tab-td .btn_add_td {
    padding: 0; }
    .tab-td .btn_add_td a {
      display: inline-block;
      color: #fff;
      border-radius: 2px;
      padding: 4px 10px;
      background: #1D78FD;
      margin-left: 10px; }
      .tab-td .btn_add_td a .fa {
        font-size: 9px;
        margin-right: 5px; }
      .tab-td .btn_add_td a:hover {
        background: #0f5fd5; }

.info-wrap {
  display: flex;
  flex-wrap: wrap;
  padding: 0 7px 7px; }
  .info-wrap .info-search {
    -ms-flex: 0 0 25%;
    flex: 0 0 25%;
    max-width: 25%;
    padding-right: 5px; }
    @media only screen and (max-width: 1199px) {
      .info-wrap .info-search {
        -ms-flex: 0 0 30%;
        flex: 0 0 30%;
        max-width: 30%; } }
    @media only screen and (max-width: 991px) {
      .info-wrap .info-search {
        -ms-flex: 0 0 100%;
        flex: 0 0 100%;
        max-width: 100%; } }
  .info-wrap .info-detail {
    -ms-flex: 0 0 75%;
    flex: 0 0 75%;
    max-width: 75%;
    background: #EEEEEE; }
    @media only screen and (max-width: 1199px) {
      .info-wrap .info-detail {
        -ms-flex: 0 0 70%;
        flex: 0 0 70%;
        max-width: 70%; } }
    @media only screen and (max-width: 991px) {
      .info-wrap .info-detail {
        -ms-flex: 0 0 100%;
        flex: 0 0 100%;
        max-width: 100%; } }

.zone-search {
  padding: 7px; }
  .zone-search label {
    display: block;
    margin-bottom: 5px;
    font-weight: 500; }
  .zone-search select, .zone-search input {
    width: 100%;
    background-color: #fff;
    height: 28px;
    border-radius: 2px;
    border: 1px solid #6c757d;
    transition: all 0.3s ease;
    padding: 0 5px;
    margin-bottom: 7px; }
    .zone-search select:hover, .zone-search select:focus, .zone-search input:hover, .zone-search input:focus {
      border: 1px solid #40A9FF;
      transition: all 0.3s ease; }
  .zone-search .foot-search {
    display: flex;
    justify-content: space-between; }
    .zone-search .foot-search button {
      line-height: 26px; }
      @media only screen and (max-width: 576px) {
        .zone-search .foot-search button {
          line-height: auto; } }
    .zone-search .foot-search .btn-search-info {
      color: #fff;
      background: #28A745;
      border-radius: 2px;
      display: block;
      margin-left: 10px;
      padding: 0 9px;
      border: none;
      transition: all 0.3s ease;
      display: flex;
      align-items: center;
      transition: all 0.3s ease; }
      .zone-search .foot-search .btn-search-info i {
        margin-right: 3px;
        font-size: 20px;
        font-size: 13px; }
      .zone-search .foot-search .btn-search-info:hover {
        background: #228c3b;
        transition: all 0.3s ease; }
      .zone-search .foot-search .btn-search-info.btn-search-info-blue {
        background: #1590F7; }
        .zone-search .foot-search .btn-search-info.btn-search-info-blue:hover {
          background: #0e78d0; }
    .zone-search .foot-search .btn-search-refresh {
      margin-left: 7px;
      border: 1px solid #ddd;
      border-radius: 2px;
      background: #fff;
      transition: all 0.3s ease;
      color: #000; }
      .zone-search .foot-search .btn-search-refresh img {
        width: 15px; }
      .zone-search .foot-search .btn-search-refresh:hover {
        transition: all 0.3s ease;
        background: #e9e9e9; }
    .zone-search .foot-search .btn-search-expand {
      margin-left: 7px;
      border: none;
      color: #1D78FD;
      background: none; }
      .zone-search .foot-search .btn-search-expand i {
        margin-left: 3px; }

.info-partner .tab-td .nav-item .nav-link {
  padding: 5px; }
  @media only screen and (max-width: 1199px) {
    .info-partner .tab-td .nav-item .nav-link {
      font-size: 13px; } }

table.tbl-info {
  background: #fff;
  width: 100%; }
  table.tbl-info thead {
    position: sticky;
    top: 0px; }
    table.tbl-info thead tr th {
      font-weight: 500;
      padding: 6px 10px;
      border: 1px solid #C2C4C4;
      background-color: #cbcdd0 !important;
      height: 31.75px !important;
      border-top: none; }
      table.tbl-info thead tr th:first-child {
        padding: 0; }
  table.tbl-info tbody tr:nth-child(odd) {
    background: #fff; }
  table.tbl-info tbody tr:nth-child(even) {
    background: #f5f5f5; }
  table.tbl-info tbody tr td {
    font-size: 14px;
    padding: 3px 10px;
    border: 1px solid #C2C4C4; }
    table.tbl-info tbody tr td:first-child {
      padding: 3px 3px;
      text-align: center; }
    table.tbl-info tbody tr td:nth-child(2), table.tbl-info tbody tr td:nth-child(4) {
      text-align: center; }
  table.tbl-info tbody tr:last-child .colfixed {
    height: 27px; }
  table.tbl-info tbody tr.active td:nth-child(n+2) {
    background: #3397FE;
    color: #fff; }
    table.tbl-info tbody tr.active td:nth-child(n+2) .partner-name {
      color: #fff; }
  table.tbl-info tbody tr.active td {
    color: #fff; }
  table.tbl-info tbody tr:hover {
    background: #e0e0e0; }

.icon-success {
  display: flex;
  align-items: center;
  justify-content: center; }
  .icon-success i {
    color: #0DA4B7;
    font-size: 18px; }

.icon-warning {
  display: flex;
  align-items: center;
  justify-content: center; }
  .icon-warning i {
    color: #FE7F01;
    font-size: 18px; }

.partner-name {
  font-weight: 700;
  display: block; }

.tbl-wrap {
  max-height: calc(100vh - 323px);
  overflow: auto; }
  .tbl-wrap.tbl-cashier {
    max-height: calc(100vh - 336px); }
  @media only screen and (max-width: 991px) {
    .tbl-wrap {
      max-height: 300px; } }
  .tbl-wrap::-webkit-scrollbar {
    width: 4px; }
  .tbl-wrap::-webkit-scrollbar-track {
    background: #f1f1f1; }
  .tbl-wrap::-webkit-scrollbar-thumb {
    background: #888; }
  .tbl-wrap::-webkit-scrollbar-thumb:hover {
    background: #555; }

.info-detail {
  padding: 7px;
  border-left: 1px solid #ddd; }
  @media only screen and (max-width: 991px) {
    .info-detail {
      margin-top: 20px; } }
  .info-detail .head-info {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 5px; }
    @media only screen and (max-width: 991px) {
      .info-detail .head-info {
        padding: 7px 0; } }
    @media only screen and (max-width: 767px) {
      .info-detail .head-info {
        display: block; } }
    .info-detail .head-info .head-info-block {
      width: 50%;
      display: flex; }
      @media only screen and (max-width: 1199px) {
        .info-detail .head-info .head-info-block {
          width: 65%; } }
      @media only screen and (max-width: 767px) {
        .info-detail .head-info .head-info-block {
          width: 100%;
          display: block;
          text-align: left; } }

.info-left {
  border-right: 1px solid #ddd;
  padding-right: 10px;
  color: #ab0404; }
  .info-left .info-name {
    font-weight: 600;
    margin-bottom: 4px; }
  .info-left .info-vp {
    margin-bottom: 4px; }
  @media only screen and (max-width: 576px) {
    .info-left {
      border-right: none; } }

.info-right {
  padding: 10px;
  text-align: left;
  color: red;
  font-weight: 700; }
  @media only screen and (max-width: 767px) {
    .info-right {
      padding: 7px 0; }
      .info-right br {
        display: none; } }

.btn-head {
  display: flex; }
  .btn-head .btn-exam {
    color: #fff;
    background: #1d78fd;
    border-radius: 2px;
    display: block;
    margin-left: 10px;
    padding: 0 9px;
    border: none;
    transition: all 0.3s ease;
    display: flex;
    align-items: center;
    transition: all 0.3s ease;
    line-height: 26px; }
    .btn-head .btn-exam:hover {
      background: #1563d5;
      transition: all 0.3s ease; }
    .btn-head .btn-exam i {
      margin-right: 3px; }
    .btn-head .btn-exam.btn-exam-cancel {
      background: #cb4949; }
      .btn-head .btn-exam.btn-exam-cancel:hover {
        background: #a93838;
        transition: all 0.3s ease; }
    @media only screen and (max-width: 767px) {
      .btn-head .btn-exam {
        margin-right: 5px;
        margin-left: 0; } }

.field-detail input, .field-detail select {
  width: 100%;
  background-color: #fff;
  height: 28px;
  border-radius: 2px;
  border: 1px solid #6c757d;
  transition: all 0.3s ease;
  padding: 0 5px;
  margin-bottom: 0; }
  .field-detail input[disabled], .field-detail select[disabled] {
    background: #d5d5d5; }
  .field-detail input:hover, .field-detail input:focus, .field-detail select:hover, .field-detail select:focus {
    border: 1px solid #40A9FF;
    transition: all 0.3s ease; }

.block-detail-top > .tab-content {
  border: 1px solid #ddd;
  padding: 7px 0;
  max-height: calc(100vh - 242px);
  overflow-y: auto; }
  @media only screen and (max-width: 991px) {
    .block-detail-top > .tab-content {
      max-height: 100%;
      overflow: unset; } }
  .block-detail-top > .tab-content::-webkit-scrollbar {
    width: 4px; }
  .block-detail-top > .tab-content::-webkit-scrollbar-track {
    background: #f1f1f1; }
  .block-detail-top > .tab-content::-webkit-scrollbar-thumb {
    background: #888; }
  .block-detail-top > .tab-content::-webkit-scrollbar-thumb:hover {
    background: #555; }
.block-detail-top .container {
  padding: 0 10px; }
.block-detail-top .row {
  margin: 0 -10px; }
.block-detail-top .col, .block-detail-top .col-1, .block-detail-top .col-10, .block-detail-top .col-11, .block-detail-top .col-12, .block-detail-top .col-2, .block-detail-top .col-3, .block-detail-top .col-4, .block-detail-top .col-5, .block-detail-top .col-6, .block-detail-top .col-7, .block-detail-top .col-8, .block-detail-top .col-9, .block-detail-top .col-auto, .block-detail-top .col-lg, .block-detail-top .col-lg-1, .block-detail-top .col-lg-10, .block-detail-top .col-lg-11, .block-detail-top .col-lg-12, .block-detail-top .col-lg-2, .block-detail-top .col-lg-3, .block-detail-top .col-lg-4, .block-detail-top .col-lg-5, .block-detail-top .col-lg-6, .block-detail-top .col-lg-7, .block-detail-top .col-lg-8, .block-detail-top .col-lg-9, .block-detail-top .col-lg-auto, .block-detail-top .col-md, .block-detail-top .col-md-1, .block-detail-top .col-md-10, .block-detail-top .col-md-11, .block-detail-top .col-md-12, .block-detail-top .col-md-2, .block-detail-top .col-md-3, .block-detail-top .col-md-4, .block-detail-top .col-md-5, .block-detail-top .col-md-6, .block-detail-top .col-md-7, .block-detail-top .col-md-8, .block-detail-top .col-md-9, .block-detail-top .col-md-auto, .block-detail-top .col-sm, .block-detail-top .col-sm-1, .block-detail-top .col-sm-10, .block-detail-top .col-sm-11, .block-detail-top .col-sm-12, .block-detail-top .col-sm-2, .block-detail-top .col-sm-3, .block-detail-top .col-sm-4, .block-detail-top .col-sm-5, .block-detail-top .col-sm-6, .block-detail-top .col-sm-7, .block-detail-top .col-sm-8, .block-detail-top .col-sm-9, .block-detail-top .col-sm-auto, .block-detail-top .col-xl, .block-detail-top .col-xl-1, .block-detail-top .col-xl-10, .block-detail-top .col-xl-11, .block-detail-top .col-xl-12, .block-detail-top .col-xl-2, .block-detail-top .col-xl-3, .block-detail-top .col-xl-4, .block-detail-top .col-xl-5, .block-detail-top .col-xl-6, .block-detail-top .col-xl-7, .block-detail-top .col-xl-8, .block-detail-top .col-xl-9, .block-detail-top .col-xl-auto {
  padding: 0 10px;
  margin-bottom: 5px; }
@media only screen and (max-width: 576px) {
  .block-detail-top .nav {
    overflow-x: auto;
    overflow-y: hidden;
    flex-wrap: nowrap; } }
@media only screen and (max-width: 576px) {
  .block-detail-top .tab-td .nav-item {
    white-space: nowrap; } }

.flex-data {
  display: flex;
  align-items: center; }

.data-field {
  font-weight: 500;
  color: #1a62cb;
  margin-left: 5px; }
  .data-field.data-field-medium {
    color: #DA3343; }
  .data-field.data-field-bold {
    color: #DA3343;
    font-weight: 900; }

.title-detail {
  display: flex;
  align-items: center;
  height: 100%;
  margin-bottom: 0;
  line-height: 14px; }

.field-detail input {
  margin-bottom: 0; }

.tbl-history {
  padding: 7px;
  overflow: auto; }
  .tbl-history table {
    background: #fff;
    width: 100%; }
    .tbl-history table thead {
      position: sticky;
      top: 0px; }
      .tbl-history table thead tr th {
        font-weight: 500;
        padding: 6px 10px;
        border: 1px solid #C2C4C4;
        background-color: #cbcdd0 !important;
        height: 31.75px !important;
        border-top: none; }
        .tbl-history table thead tr th:first-child {
          padding: 0; }
    .tbl-history table tbody tr.active-row td {
      background: #f5f5f5; }
    .tbl-history table tbody tr td {
      padding: 3px 10px;
      border: 1px solid #C2C4C4; }
    .tbl-history table tbody tr:last-child .colfixed {
      height: 27px; }
    .tbl-history table tbody tr.active td {
      color: #1d78fd; }
    .tbl-history table tbody tr:hover {
      background: #e0e0e0; }

@media only screen and (max-width: 1199px) {
  .d-none-tablet {
    display: none; } }

.show-popup .modal {
  padding-left: 17px; }
@media (min-width: 576px) {
  .show-popup .modal-dialog {
    max-width: 70%; } }
.show-popup .modal-header {
  padding: 4px 15px;
  position: relative;
  background: #f6f6f6;
  border-bottom: 0; }
  .show-popup .modal-header .modal-title {
    font-size: 14px;
    font-weight: 500; }
.show-popup .close {
  position: absolute;
  right: 20px;
  top: 16px;
  padding: 3px;
  font-size: 20px; }
.show-popup .modal-footer button {
  padding: 0 10px;
  margin: 0;
  margin-left: 10px;
  height: 32px; }
.show-popup .modal-body {
  max-height: calc(100vh - 166px);
  overflow: auto; }
  .show-popup .modal-body .block-field label {
    font-weight: normal; }
.show-popup .modal-content {
  border-radius: 0; }

.box-popup {
  padding: 7px; }

.field-area {
  margin-bottom: 5px; }
  .field-area label {
    display: block;
    margin-bottom: 3px; }
  .field-area textarea {
    min-height: 70px;
    padding: 7px;
    resize: vertical;
    width: 100%; }
    @media only screen and (max-width: 576px) {
      .field-area textarea {
        min-height: 50px; } }

.tbl-popup {
  padding: 7px 0;
  overflow: auto; }
  .tbl-popup table {
    background: #fff;
    width: 100%; }
    .tbl-popup table thead {
      position: sticky;
      top: 0px; }
      .tbl-popup table thead tr th {
        font-weight: 500;
        padding: 6px 10px;
        border: 1px solid #C2C4C4;
        background-color: #cbcdd0 !important;
        height: 31.75px !important;
        border-top: none; }
        .tbl-popup table thead tr th:first-child {
          padding: 0; }
    .tbl-popup table tbody tr.group-tr {
      background: #f5f5f5; }
    .tbl-popup table tbody tr:hover {
      background: #e0e0e0; }
    .tbl-popup table tbody tr td {
      font-size: 14px;
      padding: 3px 10px;
      border: 1px solid #C2C4C4; }
      .tbl-popup table tbody tr td:first-child {
        padding: 3px 3px;
        text-align: center; }
    .tbl-popup table tbody tr:last-child .colfixed {
      height: 27px; }
    .tbl-popup table tbody tr.active td:nth-child(n+2) {
      background: #3397FE;
      color: #fff; }
      .tbl-popup table tbody tr.active td:nth-child(n+2) .partner-name {
        color: #fff; }
    .tbl-popup table tbody tr.active td {
      color: #fff; }

.tbl-service {
  padding: 7px 0;
  overflow: auto; }
  .tbl-service table {
    background: #fff;
    width: 100%; }
    .tbl-service table thead {
      position: sticky;
      top: 0px; }
      .tbl-service table thead tr th {
        font-weight: 500;
        padding: 6px 10px;
        border: 1px solid #C2C4C4;
        background-color: #cbcdd0 !important;
        height: 31.75px !important;
        border-top: none; }
    .tbl-service table tbody tr td {
      font-size: 14px;
      padding: 3px 10px;
      border: 1px solid #C2C4C4; }
    .tbl-service table tbody tr:hover {
      background: #e0e0e0; }

.txt-periodic {
  margin-bottom: 5px;
  display: flex;
  align-items: center; }
  .txt-periodic input {
    margin-right: 5px; }
  .txt-periodic label {
    margin-bottom: 0;
    line-height: 11px; }

.area-data input[type="text"] {
  width: 100%;
  background-color: #fff;
  height: 28px;
  border-radius: 2px;
  border: 1px solid #6c757d;
  transition: all 0.3s ease;
  padding: 0 5px; }
  .area-data input[type="text"]:hover, .area-data input[type="text"]:focus {
    border: 1px solid #40A9FF;
    transition: all 0.3s ease; }
.area-data textarea {
  min-height: 70px;
  padding: 7px;
  resize: vertical;
  width: 100%; }
  @media only screen and (max-width: 576px) {
    .area-data textarea {
      min-height: 50px; } }

.sic-checkbox {
  display: flex;
  align-items: center;
  min-width: 70px; }
  .sic-checkbox input {
    margin-right: 5px; }
  .sic-checkbox label {
    margin-bottom: 0;
    line-height: 11px; }

.area-data-cs {
  display: flex;
  align-items: center; }

.area-data-edit {
  display: flex;
  align-items: center; }

.btn-attach {
  padding: 10px;
  height: 70px;
  border: 1px solid #767676;
  margin-left: 7px;
  width: 70px;
  background: #ddd;
  transition: all 0.3s ease; }
  @media only screen and (max-width: 576px) {
    .btn-attach {
      height: 50px; } }
  .btn-attach i {
    color: #898989; }
  .btn-attach:hover {
    background: #eee;
    transition: all 0.3s ease; }
  .btn-attach.btn-attach-at {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 100px; }
    @media only screen and (max-width: 576px) {
      .btn-attach.btn-attach-at {
        width: 146px; } }
    .btn-attach.btn-attach-at div {
      font-size: 12px;
      margin-top: 4px; }

.periodic-area label {
  margin-bottom: 0;
  margin-top: 5px; }

input.input-periodic {
  width: 100%;
  height: 28px;
  border-radius: 2px;
  border: 1px solid #6c757d;
  transition: all 0.3s ease;
  padding: 0 5px; }
  input.input-periodic:hover, input.input-periodic:focus {
    border: 1px solid #40A9FF;
    transition: all 0.3s ease; }
  @media only screen and (max-width: 576px) {
    input.input-periodic {
      width: 56px; } }

.lbl-periodic_nd, .lbl-periodic2_ha, .lbl-periodic3_sp {
  padding-top: 5px;
  white-space: nowrap;
  margin-right: 5px;
  min-width: 105px; }
  @media only screen and (max-width: 576px) {
    .lbl-periodic_nd, .lbl-periodic2_ha, .lbl-periodic3_sp {
      margin-bottom: 4px; } }

.lbl-periodic2_ha {
  min-width: 118px;
  margin-left: 7px; }

.lbl-periodic3_sp {
  min-width: 50px;
  margin-left: 7px; }

.flex-ha {
  display: flex;
  align-items: center; }
  @media only screen and (max-width: 576px) {
    .flex-ha {
      display: block; } }
  .flex-ha input {
    width: 56px; }
  .flex-ha span {
    margin: 0 5px; }

@media only screen and (max-width: 576px) {
  .d-none-mb {
    display: none; } }

.link-update {
  color: #3397FE;
  text-decoration: underline; }
  .link-update:hover {
    text-decoration: underline; }

.btn-file {
  position: relative;
  overflow: hidden;
  height: 28px;
  background: #ddd;
  width: 32px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 2px;
  border: 1px solid #6c757d;
  border-left: none; }
  .btn-file input[readonly] {
    background-color: white !important;
    cursor: text !important; }

.btn-file input[type=file] {
  position: absolute;
  top: 0;
  right: 0;
  min-width: 100%;
  min-height: 100%;
  font-size: 100px;
  text-align: right;
  filter: alpha(opacity=0);
  opacity: 0;
  background: red;
  cursor: inherit;
  display: block; }

.file-input-label {
  padding: 0px 7px;
  line-height: 28px;
  display: table-cell;
  vertical-align: middle;
  border: 1px solid #6c757d;
  border-radius: 2px;
  width: calc(100% - 32px);
  height: 28px;
  background: #fff;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis; }

.flex-input {
  display: flex; }

.input-group:first-child {
  width: 40%; }
.input-group:last-child {
  width: 60%;
  padding-left: 15px; }

.block-service {
  display: flex;
  width: 100%; }
  @media only screen and (max-width: 767px) {
    .block-service {
      display: block; } }
  .block-service .service-detail {
    width: 75%;
    border-right: 1px solid #ddd;
    padding-right: 7px; }
    @media only screen and (max-width: 767px) {
      .block-service .service-detail {
        width: 100%; } }
  .block-service .service-category {
    width: 25%; }
    @media only screen and (max-width: 767px) {
      .block-service .service-category {
        width: 100%; } }

.service-category-item {
  padding-left: 18px;
  position: relative;
  border-bottom: 1px solid #ddd;
  padding: 3px 10px 3px;
  background: #f6f6f6; }
  .service-category-item .date-cate {
    font-weight: 700;
    margin-bottom: 2px; }
  .service-category-item.active {
    color: #fff;
    background: #3397FE; }
    .service-category-item.active:before {
      content: '';
      position: absolute;
      height: 100%;
      left: 0;
      width: 4px;
      background-color: #f38b2e;
      top: 0; }

.icon-caret i {
  color: #28A745; }

.diagnose-block {
  display: flex; }
  @media only screen and (max-width: 767px) {
    .diagnose-block {
      display: block; } }

.diagnose-block-left {
  width: 33.3333%;
  padding-right: 7px; }
  @media only screen and (max-width: 767px) {
    .diagnose-block-left {
      width: 100%; } }

.head-diagnose-left {
  display: flex;
  align-items: center;
  justify-content: space-between; }
  .head-diagnose-left a {
    color: #1D78FD;
    text-decoration: underline; }
    .head-diagnose-left a:hover {
      color: #1563D5; }

.sl-service {
  color: #1D78FD;
  margin-left: 10px;
  text-decoration: underline; }
  .sl-service:hover {
    color: #1563D5;
    text-decoration: underline; }

.diagnose-block-right {
  width: 66.6667%; }
  @media only screen and (max-width: 767px) {
    .diagnose-block-right {
      width: 100%; } }

.result {
  padding: 7px;
  resize: vertical;
  width: 100%;
  min-height: calc(100% - 24px); }

.txt-sick-main {
  display: flex;
  align-items: center; }
  @media only screen and (max-width: 767px) {
    .txt-sick-main {
      display: block; } }
  .txt-sick-main .txt-sick {
    width: 140px; }
    @media only screen and (max-width: 767px) {
      .txt-sick-main .txt-sick {
        width: 100%;
        margin-bottom: 4px; } }
  .txt-sick-main .input-sick {
    width: calc(100% - 140px);
    display: flex; }
    @media only screen and (max-width: 767px) {
      .txt-sick-main .input-sick {
        width: 100%; } }

.field-sick {
  margin-bottom: 5px; }
  .field-sick .lbl-sick {
    margin-bottom: 4px;
    display: flex;
    align-items: center;
    justify-content: space-between; }
    @media only screen and (max-width: 767px) {
      .field-sick .lbl-sick {
        display: block; } }
    .field-sick .lbl-sick a {
      color: #1D78FD;
      text-decoration: underline;
      margin-left: 10px; }
      @media only screen and (max-width: 767px) {
        .field-sick .lbl-sick a {
          margin: 4px 10px 4px 0;
          display: inline-block; } }
      .field-sick .lbl-sick a:hover {
        color: #1563D5; }
  .field-sick textarea {
    min-height: 70px;
    padding: 7px;
    resize: vertical;
    width: 100%; }

.area-sick {
  display: flex;
  align-items: center; }

.foot-sc {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  width: 100%;
  border-top: 1px solid #ddd;
  padding: 7px 0 0; }

.txt-print {
  display: flex;
  margin-right: 5px; }
  .txt-print input {
    margin-right: 4px; }
  .txt-print div {
    font-weight: 500; }

.btn-appro {
  color: #fff;
  background: #28A745;
  border-radius: 2px;
  display: block;
  margin-left: 10px;
  padding: 0 17px;
  border: none;
  transition: all 0.3s ease;
  display: flex;
  align-items: center; }
  .btn-appro i {
    color: #fff;
    margin-right: 3px; }
  .btn-appro:hover {
    background: #218838;
    transition: all 0.3s ease; }

.btn-print, .btn-cancel-send {
  color: #fff;
  background: #0F3F69;
  border-radius: 2px;
  display: block;
  margin-left: 10px;
  padding: 0 17px;
  border: none;
  transition: all 0.3s ease;
  display: flex;
  align-items: center;
  line-height: 26px; }
  .btn-print i, .btn-cancel-send i {
    color: #fff;
    margin-right: 3px; }
  .btn-print:hover, .btn-cancel-send:hover {
    background: #2368a4;
    transition: all 0.3s ease; }
  .btn-print.btn-print-cs, .btn-cancel-send.btn-print-cs {
    background: #0080B7; }
    .btn-print.btn-print-cs:hover, .btn-cancel-send.btn-print-cs:hover {
      background: #0f658a; }
  @media only screen and (max-width: 576px) {
    .btn-print, .btn-cancel-send {
      padding: 0 7px;
      font-size: 13px; }
      .btn-print:first-child, .btn-cancel-send:first-child {
        margin-left: 0; }
      .btn-print i, .btn-cancel-send i {
        display: none; } }

.btn-cancel-send {
  background: #E94924; }
  .btn-cancel-send:hover {
    background: #E94924;
    transition: all 0.3s ease; }

.body-service {
  display: flex; }
  @media only screen and (max-width: 767px) {
    .body-service {
      display: block; } }
  .body-service .body-service-left {
    -ms-flex: 0 0 25%;
    flex: 0 0 25%;
    max-width: 25%; }
    @media only screen and (max-width: 767px) {
      .body-service .body-service-left {
        -ms-flex: 0 0 100%;
        flex: 0 0 100%;
        max-width: 100%; } }
  .body-service .body-service-right {
    -ms-flex: 0 0 75%;
    flex: 0 0 75%;
    max-width: 75%;
    padding-left: 7px; }
    @media only screen and (max-width: 767px) {
      .body-service .body-service-right {
        -ms-flex: 0 0 100%;
        flex: 0 0 100%;
        max-width: 100%;
        padding-left: 0;
        margin-top: 10px; } }

.info-top {
  color: #212121;
  font-weight: 500;
  border: 1px solid #ddd;
  background: #f6f6f6;
  margin-bottom: 7px; }

.service-item {
  display: flex;
  align-items: center;
  padding: 8px 10px;
  border-bottom: 1px solid #ddd; }
  .service-item:last-child {
    border-bottom: none; }
  .service-item .icon-service {
    width: 30px; }
    .service-item .icon-service i.fa-check-circle {
      display: none;
      color: green; }
    .service-item .icon-service i.fa-minus-circle {
      display: block;
      color: #F38B2E; }
  .service-item.active {
    background: #c8f2c8; }
    .service-item.active i.fa-check-circle {
      display: block; }
    .service-item.active i.fa-minus-circle {
      display: none; }
  .service-item .text-service {
    width: calc(100% - 30px); }

.search-service {
  position: relative; }
  .search-service input {
    width: 100%;
    background-color: #fff;
    height: 28px;
    border-radius: 2px;
    border: 1px solid #6c757d;
    transition: all 0.3s ease;
    padding: 0 30px 0 5px;
    margin-bottom: 7px; }
    .search-service input:hover, .search-service input:focus {
      border: 1px solid #1d78fd; }
  .search-service button {
    color: #fff;
    background: #1d78fd;
    border-radius: 2px;
    display: block;
    border: none;
    transition: all 0.3s ease;
    display: flex;
    align-items: center;
    transition: all 0.3s ease;
    line-height: 26px;
    position: absolute;
    top: 0;
    right: 0; }
    .search-service button:hover {
      background: #1563d5;
      transition: all 0.3s ease; }

.note-list .note-item {
  padding: 5px;
  font-size: 13px; }
  .note-list .note-item.active {
    background: #C8F2C8; }

.minw {
  min-width: 109px;
  text-align: center; }

.state.state-pending.minw {
  border: 1px solid #d8a50c;
  color: #fff;
  background: #d8a50c; }

.state.state-reject.minw {
  border: 1px solid #DC3545;
  color: #fff;
  background: #DC3545; }

.state.state-success.minw {
  border: 1px solid #28A745;
  color: #fff;
  background: #28A745; }

.tbl-footer .pagination {
  justify-content: flex-end; }
  .tbl-footer .pagination .page-link {
    font-size: 12px;
    padding: 6px 10px; }

.box-img {
  position: relative;
  overflow: hidden;
  width: 70px;
  height: 60px; }
  .box-img:before {
    content: '';
    display: block;
    padding-bottom: 66.6667%; }
  .box-img img {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    object-fit: cover;
    width: 100%; }

.avt-user {
  margin-right: 10px; }
  @media only screen and (max-width: 767px) {
    .avt-user {
      margin-bottom: 10px; } }

.panigation-category {
  padding: 7px 0 0;
  display: flex;
  justify-content: flex-end; }
  .panigation-category .page-link {
    font-size: 12px;
    padding: 6px 10px; }

.tick-checkbox {
  display: flex;
  align-items: center;
  justify-content: center; }

.pd-0 {
  padding: 0; }

.box-cashier {
  padding: 7px 0;
  border: 1px solid #ddd; }

.field-cashier {
  display: flex;
  align-items: center; }
  .field-cashier .lbl-cashier {
    margin-right: 10px;
    font-weight: 500; }
  @media only screen and (max-width: 576px) {
    .field-cashier {
      display: block; }
      .field-cashier .lbl-cashier {
        margin-bottom: 4px; } }

.search-cashier-ip {
  position: relative; }
  .search-cashier-ip input {
    width: 300px;
    background-color: #fff;
    height: 28px;
    border-radius: 2px;
    border: 1px solid #6c757d;
    transition: all 0.3s ease;
    padding: 0 30px 0 5px; }
    .search-cashier-ip input:hover, .search-cashier-ip input:focus {
      border: 1px solid #1d78fd; }
    @media only screen and (max-width: 576px) {
      .search-cashier-ip input {
        width: 100%; } }
  .search-cashier-ip button {
    color: #fff;
    background: #1d78fd;
    border-radius: 2px;
    display: block;
    border: none;
    transition: all 0.3s ease;
    display: flex;
    align-items: center;
    transition: all 0.3s ease;
    line-height: 26px;
    position: absolute;
    top: 0;
    right: 0; }
    .search-cashier-ip button:hover {
      background: #1563d5;
      transition: all 0.3s ease; }

.box-cashier {
  padding: 7px; }
  .box-cashier .flex-data {
    margin-bottom: 4px; }

.line-gray {
  height: 1px;
  width: 100%;
  background: #ddd;
  margin: 5px 0 10px; }

.cl-green {
  color: #40cf4f; }

.txt-careceipt {
  padding-left: 7px;
  font-weight: 500; }

.box-tbl-fn {
  border: 1px solid #ddd;
  padding: 7px 0; }

.icon-checkbox input[type=checkbox] {
  position: relative;
  border: 2px solid #0DA4B7;
  border-radius: 50%;
  background: none;
  cursor: pointer;
  line-height: 0;
  outline: 0;
  padding: 0 !important;
  vertical-align: text-top;
  height: 18px;
  width: 18px;
  -webkit-appearance: none;
  opacity: .5; }
.icon-checkbox input[type=checkbox]:hover {
  opacity: 1; }
.icon-checkbox input[type=checkbox]:checked {
  background-color: #0DA4B7;
  opacity: 1; }
.icon-checkbox input[type=checkbox]:before {
  content: '';
  position: absolute;
  right: 50%;
  top: 50%;
  width: 5px;
  height: 10px;
  border: none;
  border: solid transparent;
  border-width: 0 2px 2px 0;
  margin: -1px -1px 0 -1px;
  transform: rotate(45deg) translate(-50%, -50%);
  z-index: 2; }
.icon-checkbox input:checked:before {
  content: '';
  position: absolute;
  right: 50%;
  top: 50%;
  width: 5px;
  height: 10px;
  border: none;
  border: solid #fff;
  border-width: 0 2px 2px 0;
  margin: -1px -1px 0 -1px;
  transform: rotate(45deg) translate(-50%, -50%);
  z-index: 2; }

@media only screen and (max-width: 576px) {
  .mb-2-mobile {
    margin-bottom: 7px; } }

#back-to-top {
  position: fixed;
  bottom: 25px;
  right: 25px;
  width: 31px;
  height: 31px;
  background: #2E70EC;
  color: #fff;
  text-align: center;
  line-height: 31px;
  font-size: 18px;
  font-weight: bold;
  background-size: 100% 100%;
  display: none;
  z-index: 100;
  border-radius: 7px;
  -moz-border-radius: 7px;
  -webkit-border-radius: 7px;
  -ms-border-radius: 7px;
  -o-border-radius: 7px; }
  #back-to-top:hover {
    background: #08336b; }

button:focus {
  outline: none; }

/*# sourceMappingURL=main.css.map */
