// ======================================================
// Layout :: Content
// ======================================================
main {
    padding: 75px 0px 10px;
    @include mobile{
        padding: 35px 0px 10px;

    }
}
.bg--gray{
    background: #eeeeee;
    border: 1px solid #ddd;
    border-top: none;
}
.sc-headbooking {
    margin-bottom: 30px;
    @include tablet-horizontal{
        .col-md-7{
            -ms-flex: 0 0 75%;
            flex: 0 0 75%;
            max-width: 75%;
            @include mobile{
                -ms-flex: 0 0 100%;
            flex: 0 0 100%;
            max-width: 100%;
            }
        }
    }
    @include tablet{
        .col-md-2{
            -ms-flex: 0 0 20%;
            flex: 0 0 20%;
            max-width: 20%;
        }
    }
    @include mobile-horizontal{
        .col-md-2{
            -ms-flex: 0 0 100%;
            flex: 0 0 100%;
            max-width: 100%;
        }
    }
    @include mobile{
        .row{
            margin: 0;
        }
        .col-md-2,.col-md-7{
            padding: 0
        }
        .container{
            padding:0
        }
    }
}

.txt-call {
    font-weight: 600;
    padding-top: 7px;
    text-align: right;
    color: #fff;
    @include mobile-horizontal{
        margin-bottom:10px;
        text-align: left;
        color: #000;
        //padding-left: 15px;
    }
}

.txt-door {
    font-weight: 600;
    margin-right: 10px;
    color: #fff;
    @include mobile{
        color: #000;
        margin-bottom: 5px;
    }
}

.ticket {
    display: flex;
    align-items: center;
    @include mobile{
        display: block;
    }
}

.sl-door {
    margin-right: 20px;
    @include mobile{
        margin-right: 0;
        margin-bottom: 10px;
    }
    select {
        width: 130px;
        background-color: #fff;
        height: 28px;
        border-radius: 2px;
        border: 1px solid #6c757d;
        transition: all 0.3s ease;
        padding: 0 9px;

        &:hover {
            border: 1px solid #40A9FF;
            transition: all 0.3s ease;

        }
        @include tablet{
            width: 200px;
        }
        @include mobile{
            width: 100%;
        }
    }
}
.btn-call{
    color: #fff;
    background: #f38b2e;
    border-radius: 2px;
    display: block;
    margin-right: 10px;
    padding: 0 10px;
    border: none;
    transition: all 0.3s ease;

    &:hover{
        background: #f38b2e;
        transition: all 0.3s ease;
    }
}
button{
    outline: 0;
    height: 28px;
}
.btn-callback{
    border: 1px solid #d9d9d9;
    padding: 0 10px;
    border-radius: 2px;
    background: #F8F9FA;
    transition: all 0.3s ease;

    &:hover{
        background: #dbdcdd;
        transition: all 0.3s ease;

    }
}
.cl-red{
    color: red;
}


// .sc-main{
//     background: #fff
// }
.detail-block{
    display: flex;
    flex-wrap: wrap;
}
.block-content{
    -ms-flex: 0 0 66.66666667%;
    flex: 0 0 66.66666667%;
    max-width: 66.66666667%;
    width: 100%;
    padding: 7px;
    border-right: 1px solid #DEE2E6;
    @media (max-width:1367px) {
        -ms-flex: 0 0 70%;
        flex: 0 0 70%;
        max-width: 70%;
        .col-md-3{
            -ms-flex: 0 0 33.3333%;
            flex: 0 0 33.3333%;
            max-width: 33.3333%;
        }
    }

    @include tablet{
        .col-md-3{
            -ms-flex: 0 0 50%;
            flex: 0 0 50%;
            max-width: 50%;
        }
    }
    @include mobile{
        -ms-flex: 0 0 100%;
        flex: 0 0 100%;
        max-width: 100%;
        border-right: 0;
        .col-md-3{
            -ms-flex: 0 0 100%;
            flex: 0 0 100%;
            max-width: 100%;
        }
    }
}
.block-sp{
    -ms-flex: 0 0 33.3333%;
    flex: 0 0 33.3333%;
    max-width: 33.3333%;
    width: 100%;
    padding: 7px;
    @media (max-width:1367px){
        -ms-flex: 0 0 30%;
        flex: 0 0 30%;
        max-width: 30%;
        .col-md-6{
            -ms-flex: 0 0 100%;
            flex: 0 0 100%;
            max-width: 100%;
        }
    }
    @include mobile{
        -ms-flex: 0 0 100%;
        flex: 0 0 100%;
        max-width: 100%;
    }
}
.w-100-mobile{
    @include mobile{
        width: 100%;
    }
}
.block-field{
    margin-bottom: 4px;
    display: flex;
    align-content: center;
    align-items: center;
    label{
        margin-bottom: 0px;
        font-weight: 500;
        min-width: 101px;
        line-height: 15px;
    }
    select,input{
        width: 100%;
        background-color: #fff;
        height: 28px;
        border-radius: 2px;
        border: 1px solid #6c757d;
        transition: all 0.3s ease;
        padding: 0 5px;
        &:hover,&:focus {
            border: 1px solid #40A9FF;
            transition: all 0.3s ease;
        }
    }
    input{
        padding: 0 5px;
    }
    input[type=checkbox]{
        width: auto;
        height: auto;
        padding: 0;
        margin-right: 7px;
    }
    @include tablet-horizontal{
        flex-direction: column;
        align-items: flex-start;
        label{
            margin-bottom: 4px;
            display: block;
            min-width: auto;
        }
    }

}
.zone-date{
    display: flex;
}
.block-field-cs{
}
.birthday-field{
    display: flex;
}
.birthday-child{

}
.block-cs{
    display: flex;
    .block-field-cb{
        input{
            &.ck-first{
                width: 100px;
                @media (max-width:1367px){
                    width: 45%;
                }
            }
        }
    }
}
.action-detail{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0.5rem 7px 0;
    border-top: 1px solid #DEE2E6;
    width: 100%;
    @include mobile{
    padding: 7px 0;

    }
}
.print{
    display: flex;
    align-items: center;
    justify-content:center;
    span{
        font-weight: 500;
        margin-right: 5px;
    }
}
.btn-save{
    color: #fff;
    background: #28A745;
    border-radius: 2px;
    display: block;
    margin-left: 10px;
    padding: 0 17px;
    border: none;
    transition: all 0.3s ease;
    display: flex;
    align-items: center;
    i{
        color: #fff;
        margin-right: 3px;
    }
    &:hover{
        background: #218838;
        transition: all 0.3s ease;

    }
    &.btn-reject{
        background: #DC3545;
        transition: all 0.3s ease;
        &:hover{
            background: #C82333;
            transition: all 0.3s ease;
        }
    }
    &.btn-search{
        white-space: nowrap;
        background: #17A2B8;
        &:hover{
            background: #138496
        }
        @include tablet{
            display: inline-block;
        }
        @include mobile{
            margin-left: 0;
        }
    }
}
.action-right{
    display: flex;
    align-items: center;
    justify-content:center;
}
.list-reception{
    padding: 7px 7px 0;
    display: block;
    width: 100%;
    @include mobile{
        padding: 7px 0 0;

    }
    .head-reception{
        border-bottom: 1px solid #DEE2E6;
        .txt-listreception{
            display: inline-block;
            color: #1890ff;
            padding: 4px 0 10px;
            border-bottom: 1px solid #1890ff;
            font-weight: 500;
        }
    }
}
.block-search{
    padding: 7px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.block-search-right{
    display: flex;
    @include tablet{
        display: block;
    }
    input{
        width: 150px;
        background-color: #fff;
        height: 28px;
        border-radius: 2px;
        border: 1px solid #6c757d;
        transition: all 0.3s ease;
        padding: 0 7px;
        margin-left: 10px;
        &:hover,&:focus {
            border: 1px solid #40A9FF;
            transition: all 0.3s ease;
        }
        &::placeholder{
            color: #c9c9c9;
        }
        @include tablet{
            margin-bottom: 10px;
            &:first-child{
                margin-left: 0;
            }
        }
        @include mobile{
            width: 100%;
            margin-left:0
        }
    }
    button{
        margin-left: 10px;
    }
    .datepicker{
        @include tablet{
            display: inline-flex;
            margin-bottom: 10px;
            width: 150px;
        }
        @include mobile-horizontal{
            margin-right:10px;
        }
        @include mobile{
            width: 100%;
        }
    }
}
.bg--smoke{
    background: #eee;
    border: 1px solid #ddd;
    border-top: none;
}
.tbl-list{

    padding:7px;
    overflow: auto;
    @media(min-width: 1200px) {
        width: calc(100% - 229px);
        .colfixed{
            position: absolute;
            right: 144px;
            top: auto;
            width: 120px;
            background: #fff;
            text-align: center;
            margin-top: -1px;
        }
        .colfixed2{
            position: absolute;
            right: 25px;
            top: auto;
            width: 120px;
            margin-top: -1px;
            background: #fff;
        }
    }



    @include mobile{
        padding:7px 0;

    }
    &::-webkit-scrollbar{
        height: 7px;
    }
    &::-webkit-scrollbar-track{
        background: #f1f1f1;
    }
    &::-webkit-scrollbar-thumb{
        background: #888;
    }
    &::-webkit-scrollbar-thumb:hover{
        background: #555;
    }
    table{
        background: #fff;
        width: 100%;
        thead{
            tr{
                th{
                    font-weight: 500;
                    padding: 6px 10px;
                    border: 1px solid #C2C4C4;
                    background-color: #cbcdd0 !important;
                    height: 31.75px !important;
                }
            }
        }
        tbody{
            tr{
                td{
                    padding: 3px 10px;
                    border: 1px solid #C2C4C4;
                }
                &:last-child{
                    .colfixed{
                        height: 27px;
                    }
                }
                &:hover{
                    background: #e0e0e0;
                }
            }
        }

    }
}
.nodata{
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content:center;
}
.btn-action{
    margin-right:10px;
    &:last-child{
        margin-right:0;
    }
    i{
        color: #40A9FF;
    }
}
.state{
    min-width: 77px;
    padding: 0px 6px;
    border-radius: 2px;
    display: block;
    &.state-success{
        border: 1px solid #28A745;
        color: #fff;
        background: #28A745;
    }
    &.state-pending{
        border: 1px solid #d8a50c;
        color: #fff;
        background: #d8a50c;
    }
    &.state-reject{
        border: 1px solid #DC3545;
        color: #fff;
        background: #DC3545;
    }
}
.form-control:focus{
    box-shadow: none;
}
.input-group-text{
    border-left: none;
    background: #fff;
    padding: .375rem 9px;
}
.datepicker{
    .input-group-text{
        height: 28px;
        border: 1px solid #6c757d;
    }
    // input{
    //     border-right: none;
    //     &:hover,&:focus{
    //         border-right: none;
    //     }
    // }
}
.tbl-foot{
    padding: 5px 10px;
}

.tab-td{
    border-bottom: 1px solid #ddd;
    .nav-item{
        position: relative;
        margin-bottom: -2px;
        .nav-link{
            display: block;
            padding: 5px 20px 5px 10px;
            border-radius: 0;
            background: linear-gradient(0deg, #929292 0, #e0e0e0 50%);
            border-color: #ddd;
            &.active{
                border: 1px solid #ddd;
                border-color: #ddd;
                border-bottom: 1px solid #eeeeee;
                background: #eeeeee;
                color: #000;
                font-weight: bold;
            }
            &.active ~ .fa{
                color: #000;

            }
            &:hover{
                border-color: #ddd;
                border-bottom: 1px solid #F0F2F5;
                color: #000;
            }
        }
        .fa{
            position: absolute;
            right: 8px;
            top: 10px;
            cursor: pointer;
            font-size: 9px;
        }
    }
    .btn_add_td{
        padding: 0;
        a{
            display: inline-block;
            color: #fff;
            border-radius: 2px;
            padding: 4px 10px;
            background: #1D78FD;
            margin-left: 10px;
            .fa{
                font-size: 9px;
                margin-right: 5px;
            }
            &:hover{
                background: #0f5fd5;
            }
        }
    }

}


// ----------------------- Chi tiết --------------------------
.text-underline{
    text-decoration: underline;
}
.info-wrap{
    display: flex;
    flex-wrap: wrap;
    padding: 0 7px 7px;
    .info__top{
        -ms-flex: 0 0 25%;
        flex: 0 0 100%;
        max-width: 100%;
        padding: 0 10px;
        background: #EEEEEE;
        padding-top: 10px;
        margin-bottom: 5px;
        margin-top: -10px;
    }
    .info__bot{
        -ms-flex: 0 0 25%;
        flex: 0 0 100%;
        max-width: 100%;
    }

    .info-search{
        -ms-flex: 0 0 25%;
        flex: 0 0 25%;
        max-width: 25%;
        padding-right: 5px;
        &.info-search-re{
            -ms-flex: 0 0 15%;
            flex: 0 0 15%;
            max-width: 15%;
        }
        @include tablet-horizontal{
            -ms-flex: 0 0 30%;
            flex: 0 0 30%;
            max-width: 30%;
        }
        @include tablet{
            -ms-flex: 0 0 100%;
            flex: 0 0 100%;
            max-width: 100%;
            &.info-search-re{
                -ms-flex: 0 0 100%;
                flex: 0 0 100%;
                max-width: 100%;
            }
        }
    }
    .info-detail{
        -ms-flex: 0 0 75%;
        flex: 0 0 75%;
        max-width: 75%;
        background: #EEEEEE;
        &.info-detail-re{
            -ms-flex: 0 0 85%;
            flex: 0 0 85%;
            max-width: 85%;
        }
        @include tablet-horizontal{
            -ms-flex: 0 0 70%;
            flex: 0 0 70%;
            max-width: 70%;
        }
        @include tablet{
            -ms-flex: 0 0 100%;
            flex: 0 0 100%;
            max-width: 100%;
            &.info-detail-re{
                -ms-flex: 0 0 100%;
                flex: 0 0 100%;
                max-width: 100%;
            }
        }
    }
}
.zone-search{
    padding: 7px;
    label{
        display: block;
        margin-bottom: 5px;
    font-weight: 500;

    }
    select,input{
        width: 100%;
        background-color: #fff;
        height: 28px;
        border-radius: 2px;
        border: 1px solid #6c757d;
        transition: all 0.3s ease;
        padding: 0 5px;
        margin-bottom: 7px;
        &:hover,&:focus {
            border: 1px solid #40A9FF;
            transition: all 0.3s ease;
        }
    }
    .foot-search{
        display: flex;
        justify-content:space-between;
        button{
            line-height: 26px;
            @include mobile{
                line-height: auto;
            }
        }
        .btn-search-info{
            color: #fff;
            background: #28A745;
            border-radius: 2px;
            display: block;
            margin-left: 10px;
            padding: 0 9px;
            border: none;
            transition: all 0.3s ease;
            display: flex;
            align-items: center;
            transition: all 0.3s ease;
            i{
                margin-right:3px;
                font-size: 20px;
                font-size: 13px;
            }
            &:hover{
                background: #228c3b;
                transition: all 0.3s ease;

            }
            &.btn-search-info-blue{
                background: #1590F7;
                &:hover{
                    background: #0e78d0;
                }
            }
        }
        .btn-search-refresh{
            margin-left: 7px;
            border: 1px solid #ddd;
            border-radius: 2px;
            background: #fff;
            transition: all 0.3s ease;
            color: #000;
            img{
                width: 15px;
            }
            &:hover{
                transition: all 0.3s ease;
                background: #e9e9e9;
            }
        }
        .btn-search-expand{
            margin-left: 7px;
            border: none;
            color: #1D78FD;
            background: none;
            i{
                margin-left:3px
            }
        }
    }
}
.info-partner{
    .tab-td .nav-item .nav-link{
        padding: 5px;
        @include tablet-horizontal{
            font-size:13px
        }
    }
}
table.tbl-info{
    background: #fff;
    width: 100%;

    thead{
        position: sticky;
        top: 0px;
        tr{
            th{
                font-weight: 500;
                padding: 6px 10px;
                border: 1px solid #C2C4C4;
                background-color: #cbcdd0 !important;
                height: 31.75px !important;
                border-top: none;
                &:first-child{
                    padding: 0;
                }
            }
        }
    }
    tbody{
        tr{
            &:nth-child(odd){
                background: #fff;
            }
            &:nth-child(even){
                background: #f5f5f5;
            }

            td{
                font-size: 14px;
                padding: 3px 10px;
                border: 1px solid #C2C4C4;
                &:first-child{
                    padding: 3px 3px;
                    text-align: center;
                }
                &:nth-child(2),&:nth-child(4){
                    text-align: center;
                }
            }
            &:last-child{
                .colfixed{
                    height: 27px;
                }
            }
            &.active{
                td:nth-child(n+2){
                    background: #3397FE;
                    color: #fff;
                    .partner-name{
                        color: #fff;
                    }
                }
            }
            &.active{
                td{
                    color: #fff;
                }
            }
            &:hover{
                background: #e0e0e0;
            }

        }
    }

}

.icon-success{
    display: flex;
    align-items: center;
    justify-content: center;
    i{
        color: #0DA4B7;
        font-size: 18px;
    }
}
.icon-warning{
    display: flex;
    align-items: center;
    justify-content: center;

    i{
        color: #FE7F01;
        font-size: 18px;
    }
}
.partner-name{
    font-weight: 700;
    display: block;
}
.tbl-wrap{
    max-height: calc(100vh - 323px);
    overflow: auto;
    &.tbl-cashier{
        max-height: calc(100vh - 336px);
    }
    @include tablet{
        max-height: 300px;
    }
    &::-webkit-scrollbar{
        width: 4px;
    }
    &::-webkit-scrollbar-track{
        background: #f1f1f1;
    }
    &::-webkit-scrollbar-thumb{
        background: #888;
    }
    &::-webkit-scrollbar-thumb:hover{
        background: #555;
    }
}
.info-detail{
    padding: 7px;
    border-left: 1px solid #ddd;
    @include tablet{
        margin-top: 20px;
    }
    .head-info{
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 5px;
        @include tablet{
            padding: 7px 0;
        }
        @include mobile-horizontal{
            display: block;
        }
        .head-info-block{
            width: 50%;
            display: flex;
            @include tablet-horizontal{
                width: 65%;
            }
            @include mobile-horizontal{
                width: 100%;
                display: block;
                text-align: left;
            }
        }
        .btn-head{

        }
    }
    .block-detail{

    }
}
.info-left{
    border-right: 1px solid #ddd;
    padding-right: 10px;
    color: #ab0404;
    .info-name{
        font-weight: 600;
        margin-bottom: 4px;
    }
    .info-vp{
        margin-bottom: 4px;
    }
    @include mobile{
        border-right: none;
    }
}
.info-right{
    padding: 10px;
    text-align: left;
    color: red;
    font-weight: 700;
    @include mobile-horizontal{
        padding: 7px 0;
        br{
            display: none;
        }
    }
}
.btn-head{
    display: flex;
    .btn-exam{
        color: #fff;
        background: #1d78fd;
        border-radius: 2px;
        display: block;
        margin-left: 10px;
        padding: 0 9px;
        border: none;
        transition: all 0.3s ease;
        display: flex;
        align-items: center;
            transition: all 0.3s ease;
            line-height: 26px;
        &:hover{
            background: #1563d5;
            transition: all 0.3s ease;
        }
        i{
            margin-right: 3px;
        }
        &.btn-exam-cancel{
            background: #cb4949;
            &:hover{
                background: #a93838;
                transition: all 0.3s ease;
            }
        }
        @include mobile-horizontal{
            margin-right: 5px;
            margin-left:0
        }
    }

}


.field-detail{
    input,select{
        width: 100%;
        background-color: #fff;
        height: 28px;
        border-radius: 2px;
        border: 1px solid #6c757d;
        transition: all 0.3s ease;
        padding: 0 5px;
        margin-bottom: 0;
        &[disabled]{
            background: #d5d5d5;
        }
        &:hover,&:focus {
            border: 1px solid #40A9FF;
            transition: all 0.3s ease;
        }
    }
}
.block-detail-top{
    >.tab-content{
        border: 1px solid #ddd;
        padding: 7px 0;
        max-height: calc(100vh - 242px);
        overflow-y: auto;
        @include tablet{
            max-height: 100%;
            overflow: unset;
        }
        &::-webkit-scrollbar{
            width: 4px;
        }
        &::-webkit-scrollbar-track{
            background: #f1f1f1;
        }
        &::-webkit-scrollbar-thumb{
            background: #888;
        }
        &::-webkit-scrollbar-thumb:hover{
            background: #555;
        }
    }
    .container{
        padding: 0 10px;
    }
    .row{
        margin: 0 -10px;
    }
    .col, .col-1, .col-10, .col-11, .col-12, .col-2, .col-3, .col-4, .col-5, .col-6, .col-7, .col-8, .col-9, .col-auto, .col-lg, .col-lg-1, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-auto, .col-md, .col-md-1, .col-md-10, .col-md-11, .col-md-12, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-auto, .col-sm, .col-sm-1, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-auto, .col-xl, .col-xl-1, .col-xl-10, .col-xl-11, .col-xl-12, .col-xl-2, .col-xl-3, .col-xl-4, .col-xl-5, .col-xl-6, .col-xl-7, .col-xl-8, .col-xl-9, .col-xl-auto{
        padding: 0 10px;
        margin-bottom: 5px;

    }
    .nav{
        @include mobile{
            overflow-x: auto;
            overflow-y: hidden;
            flex-wrap: nowrap;
        }
    }
    .tab-td .nav-item{
        @include mobile{
            white-space: nowrap;
        }
    }
}
.flex-data{
    display: flex;
    align-items:center;
}
.data-field{
    font-weight: 500;
    color: #1a62cb;
    margin-left: 5px;
    &.data-field-medium{
        color: #DA3343;
    }
    &.data-field-bold{
        color: #DA3343;
        font-weight: 900;
    }
}
.title-detail {
    // padding-top: 7px;
    display: flex;
    align-items: center;
    height: 100%;
    margin-bottom: 0;
    line-height: 14px;

}
.field-detail {
    input{
        margin-bottom:0
    }
}
.tbl-history{
    padding: 7px;
    overflow: auto;
    table{
        background: #fff;
        width: 100%;

        thead{
            position: sticky;
            top: 0px;
            tr{
                th{
                    font-weight: 500;
                    padding: 6px 10px;
                    border: 1px solid #C2C4C4;
                    background-color: #cbcdd0 !important;
                    height: 31.75px !important;
                    border-top: none;
                    white-space: nowrap;
                    &:first-child{
                        padding: 0;
                    }
                }
            }
        }
        tbody{
            tr{
                // &:nth-child(odd){
                //     background: #fff;
                // }
                // &:nth-child(even){
                //     background: #f5f5f5;
                // }
                &.active-row{
                    td{
                        background: #f5f5f5;
                    }
                }
                td{
                    padding: 3px 10px;
                    border: 1px solid #C2C4C4;
                }
                &:last-child{
                    .colfixed{
                        height: 27px;
                    }
                }
                &.active{
                    td{
                        color: #1d78fd;
                    }
                }
                &:hover{
                    background: #e0e0e0;
                }

            }
        }

    }
}
.block-detail-bot{
    .tab-content{
        // border: 1px solid #ddd;
    }
}
.d-none-tablet{
    @include tablet-horizontal{
        display: none;
    }
}

// popup style ------------------------

.show-popup{
    .modal{
        padding-left: 17px;
    }
    .modal-dialog{
        @media (min-width: 576px){
            max-width: 70%;
        }
    }
    .modal-header{
        padding: 4px 15px;
        position: relative;
        background: #f6f6f6;
        border-bottom: 0;
        .modal-title{
            font-size: 14px;
            font-weight: 500;
        }
    }
    .close{
        position: absolute;
        right: 20px;
        top: 16px;
        padding: 3px;
        font-size: 20px;
    }
    .modal-footer{
        button{
            padding: 0 10px;
            margin: 0;
            margin-left: 10px;
            height: 32px;
        }
    }
    .modal-body{
        max-height: calc(100vh - 166px);
        overflow: auto;
        .block-field label{
            font-weight: normal;
        }
    }
    .modal-content{
        border-radius: 0;
    }
}

.box-popup{
    padding: 7px;
    // .container{
    //     padding: 0 10px;
    // }
    // .row{
    //     margin: 0 -10px;
    // }
    // .col, .col-1, .col-10, .col-11, .col-12, .col-2, .col-3, .col-4, .col-5, .col-6, .col-7, .col-8, .col-9, .col-auto, .col-lg, .col-lg-1, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-auto, .col-md, .col-md-1, .col-md-10, .col-md-11, .col-md-12, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-auto, .col-sm, .col-sm-1, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-auto, .col-xl, .col-xl-1, .col-xl-10, .col-xl-11, .col-xl-12, .col-xl-2, .col-xl-3, .col-xl-4, .col-xl-5, .col-xl-6, .col-xl-7, .col-xl-8, .col-xl-9, .col-xl-auto{
    //     padding: 0 10px;
    //     margin-bottom: 5px;
    // }
    // .title-detail{
    //     margin-bottom: 0;
    //     line-height: 14px;
    // }
    // .field-detail {
    //     input{
    //         margin-bottom:0
    //     }
    // }
}
.field-area{
    margin-bottom: 5px;
    label{
        display: block;
        margin-bottom: 3px;
    }
    textarea{
        min-height: 70px;
        padding:7px;
        resize: vertical;
        width: 100%;
        @include mobile{
            min-height: 50px;
        }
    }
}

.tbl-popup{
    padding: 7px 0;
    overflow: auto;
    table{
        background: #fff;
        width: 100%;

        thead{
            position: sticky;
            top: 0px;
            tr{
                th{
                    font-weight: 500;
                    padding: 6px 10px;
                    border: 1px solid #C2C4C4;
                    background-color: #cbcdd0 !important;
                    height: 31.75px !important;
                    border-top: none;
                    &:first-child{
                        padding: 0;
                    }
                }
            }
        }
        tbody{
            tr{
                // &:nth-child(odd){
                //     background: #fff;
                // }
                // &:nth-child(even){
                //     background: #f5f5f5;
                // }
                &.group-tr{
                    background: #f5f5f5;
                }
                &:hover{
                    background: #e0e0e0;
                }

                td{
                    font-size: 14px;
                    padding: 3px 10px;
                    border: 1px solid #C2C4C4;
                    &:first-child{
                        padding: 3px 3px;
                        text-align: center;
                    }
                }
                &:last-child{
                    .colfixed{
                        height: 27px;
                    }
                }
                &.active{
                    td:nth-child(n+2){
                        background: #3397FE;
                        color: #fff;
                        .partner-name{
                            color: #fff;
                        }
                    }
                }
                &.active{
                    td{
                        color: #fff;
                    }
                }

            }
        }
    }
}
.tbl-service{
    padding: 7px 0;
    overflow: auto;
    table{
        background: #fff;
        width: 100%;

        thead{
            position: sticky;
            top: 0px;
            tr{
                th{
                    font-weight: 500;
                    padding: 6px 10px;
                    border: 1px solid #C2C4C4;
                    background-color: #cbcdd0 !important;
                    height: 31.75px !important;
                    border-top: none;
                }
            }
        }
        tbody{
            tr{
                td{
                    font-size: 14px;
                    padding: 3px 10px;
                    border: 1px solid #C2C4C4;
                }
                &:hover{
                    background: #e0e0e0;
                }
            }
        }
    }
}
.txt-periodic{
    margin-bottom: 5px;
    display: flex;
    align-items: center;
    input{
        margin-right: 5px;
    }
    label{
        margin-bottom: 0;
        line-height: 11px;
    }

}
.area-data{
    input[type="text"]{
        width: 100%;
        background-color: #fff;
        height: 28px;
        border-radius: 2px;
        border: 1px solid #6c757d;
        transition: all 0.3s ease;
        padding: 0 5px;
        &:hover,&:focus {
            border: 1px solid #40A9FF;
            transition: all 0.3s ease;
        }
    }
    textarea{
        min-height: 70px;
        padding: 7px;
        resize: vertical;
        width: 100%;
        @include mobile{
            min-height: 50px;
        }
    }
}
.sic-checkbox{
    display: flex;
    align-items: center;
    min-width: 70px;
    input{
        margin-right: 5px;
    }
    label{
        margin-bottom: 0;
        line-height: 11px;
    }
}
.area-data-cs{
    display: flex;
    align-items: center;
}
.area-data-edit{
    display: flex;
    align-items: center;
}
.btn-attach {
    padding: 10px;
    height: 70px;
    border: 1px solid #767676;
    margin-left: 7px;
    width: 70px;
    background: #ddd;
    transition: all 0.3s ease;
    @include mobile{
        height: 50px;
    }
    i{
        color: #898989;
    }
    &:hover{
        background: #eee;
        transition: all 0.3s ease;
    }
    &.btn-attach-at{
        display: flex;
        align-items: center;
        flex-direction: column;
        width: 100px;
        @include mobile{
            width: 146px;
        }
        div{
            font-size: 12px;
            margin-top: 4px;
        }
    }
}
.periodic-area{
    label{
        margin-bottom: 0;
        margin-top: 5px;
    }
}
input.input-periodic{
    width: 100%;
    height: 28px;
    border-radius: 2px;
    border: 1px solid #6c757d;
    transition: all 0.3s ease;
    padding: 0 5px;
    &:hover,&:focus {
        border: 1px solid #40A9FF;
        transition: all 0.3s ease;
    }
    @include mobile{
        width: 56px;
    }
}
.lbl-periodic_nd,.lbl-periodic2_ha,.lbl-periodic3_sp{
    padding-top: 5px;
    white-space: nowrap;
    margin-right: 5px;
    min-width: 105px;
    @include mobile{
        margin-bottom: 4px;
    }
}
.lbl-periodic2_ha{
    min-width: 118px;
    margin-left: 7px;
}
.lbl-periodic3_sp{
    min-width: 50px;
    margin-left: 7px;
}
.flex-ha{
    display: flex;
    align-items: center;
    @include mobile{
        display: block;
    }
    input{
        width: 56px;
    }
    span{
        margin: 0 5px;
    }
}
.d-none-mb{
    @include mobile{
        display: none;
    }
}


.link-update{
    color: #3397FE;
    text-decoration: underline;
    &:hover{
    text-decoration: underline;

    }
}

// style input file

.btn-file {
    position: relative;
    overflow: hidden;
    height: 28px;
    background: #ddd;
    width: 32px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 2px;
    border: 1px solid #6c757d;
    border-left: none;

}
.btn-file input[type=file] {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    font-size: 100px;
    text-align: right;
    filter: alpha(opacity=0);
    opacity: 0;
    background: red;
    cursor: inherit;
    display: block;

}
.file-input-label {
    padding: 0px 7px;
    line-height: 28px;
    display: table-cell;
    vertical-align: middle;
    border: 1px solid #6c757d;
    border-radius: 2px;
    width: calc(100% - 32px);
    height: 28px;
    background: #fff;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

.flex-input{
    display:flex;
}
.input-group{
    &:first-child{
        width: 40%;
    }
    &:last-child{
        width: 60%;
        padding-left: 15px;
    }
}

.block-service{
    display: flex;
    width: 100%;
    @include mobile-horizontal{
        display:block;
    }
    .service-detail{
        width: 75%;
        border-right: 1px solid #ddd;
        padding-right: 7px;
        @include mobile-horizontal{
            width: 100%;
        }
    }
    .service-category{
        width: 25%;
        @include mobile-horizontal{
            width: 100%;
        }
    }
}
.service-category-item{
    padding-left: 18px;
    position: relative;
    border-bottom: 1px solid #ddd;
    padding: 3px 10px 3px;
    background: #f6f6f6;
    .date-cate{
        font-weight: 700;
        margin-bottom: 2px;
    }
    .kind-cate{

    }
    &.active{
        color: #fff;
        background: #3397FE;
        &:before{
            content: '';
            position: absolute;
            height: 100%;
            left: 0;
            width: 4px;
            background-color: #f38b2e;
            top: 0;
        }
    }
}

.icon-caret{
    i{
        color: #28A745;
    }
}

.diagnose-block{
    display: flex;
    @include mobile-horizontal{
        display: block
    }

}
.diagnose-block-left{
    width: 33.3333%;
    padding-right: 7px;
    @include mobile-horizontal{
        width: 100%;
    }
}
.head-diagnose-left{
    display: flex;
    align-items: center;
    justify-content:space-between;
    a{
        color: #1D78FD;
        text-decoration: underline;
        &:hover{
            color: #1563D5;
        }
    }
}
.sl-service{
    color: #1D78FD;
    margin-left: 10px;
    text-decoration: underline;
    &:hover{
        color: #1563D5;
    text-decoration: underline;

    }
}
.diagnose-block-right{
    width: 66.6667%;
    @include mobile-horizontal{
        width: 100%;
    }
}
.result{
    padding:7px;
    resize: vertical;
    width: 100%;
    min-height: calc(100% - 24px);
}
.txt-sick-main{
    display: flex;
    align-items: center;
    @include mobile-horizontal{
       display: block;
    }
    .txt-sick {
        width: 140px;
        @include mobile-horizontal{
            width: 100%;
            margin-bottom: 4px;
        }
    }
    .input-sick{
        width: calc(100% - 140px);
        display: flex;
        @include mobile-horizontal{
            width: 100%;
        }
    }
}
.field-sick{
    margin-bottom: 5px;
    .lbl-sick{
        margin-bottom: 4px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        @include mobile-horizontal{
            display: block;
        }
        a{
            color: #1D78FD;
            text-decoration: underline;
            margin-left: 10px;
            @include mobile-horizontal{
                margin: 4px 10px 4px 0;
                display: inline-block;
            }
            &:hover{
                color: #1563D5;
            }
        }
    }
    textarea{
        min-height: 70px;
        padding:7px;
        resize: vertical;
        width: 100%;
    }
    .lbl-sick{

    }
}
.area-sick{
    display: flex;
    align-items: center;
}
.foot-sc{
    display: flex;
    align-items: center;
    justify-content: flex-end;
    width: 100%;
    border-top: 1px solid #ddd;
    padding: 7px 0 0;
}
.txt-print{
    display: flex;
    margin-right: 5px;
    input{
        margin-right: 4px;
    }
    div{
        font-weight: 500;
    }
}
.btn-appro{
    color: #fff;
    background: #28A745;
    border-radius: 2px;
    display: block;
    margin-left: 10px;
    padding: 0 17px;
    border: none;
    transition: all 0.3s ease;
    display: flex;
    align-items: center;
    i{
        color: #fff;
        margin-right: 3px;
    }
    &:hover{
        background: #218838;
        transition: all 0.3s ease;

    }
}
.btn-print,.btn-cancel-send{
    color: #fff;
    background: #0F3F69;
    border-radius: 2px;
    display: block;
    margin-left: 10px;
    padding: 0 17px;
    border: none;
    transition: all 0.3s ease;
    display: flex;
    align-items: center;
    line-height: 26px;
    i{
        color: #fff;
        margin-right: 3px;
    }
    &:hover{
        background: #2368a4;
        transition: all 0.3s ease;
    }
    &.btn-print-cs{
        background: #0080B7;
        &:hover{
            background: #0f658a
        }
    }
    @include mobile{
        padding: 0 7px;
        font-size: 13px;
        &:first-child{
            margin-left: 0;
        }
        i{
            display: none;
        }
    }
}
.btn-cancel-send{
    background: #E94924;
    &:hover{
        background: #E94924;
        transition: all 0.3s ease;
    }
}

.body-service{
    display: flex;
    @include mobile-horizontal{
        display:block;
    }
    .body-service-left{
        -ms-flex: 0 0 25%;
        flex: 0 0 25%;
        max-width: 25%;
        @include mobile-horizontal{
            -ms-flex: 0 0 100%;
            flex: 0 0 100%;
            max-width: 100%;
        }
    }
    .body-service-right{
        -ms-flex: 0 0 75%;
        flex: 0 0 75%;
        max-width: 75%;
        padding-left: 7px;
        @include mobile-horizontal{
            -ms-flex: 0 0 100%;
            flex: 0 0 100%;
            max-width: 100%;
            padding-left: 0;
            margin-top: 10px;
        }
    }
}
.info-top{
    color: #212121;
    font-weight: 500;
    border: 1px solid #ddd;
    background: #f6f6f6;
    margin-bottom: 7px;
}
.service-item{
    display: flex;
    align-items: center;
    padding: 8px 10px;
    border-bottom: 1px solid #ddd;
    &:last-child{
        border-bottom: none;
    }
    .icon-service{
        width: 30px;
        i.fa-check-circle{
            display: none;
            color: green;
        }
        i.fa-minus-circle{
            display: block;
            color: #F38B2E;
        }

    }
    &.active{
        background: #c8f2c8;
        i.fa-check-circle{
            display: block;
        }
        i.fa-minus-circle{
            display: none;
        }
    }
    .text-service{
        width: calc(100% - 30px);
    }
}
.search-service{
    position: relative;
    input{
        width: 100%;
        background-color: #fff;
        height: 28px;
        border-radius: 2px;
        border: 1px solid #6c757d;
        transition: all 0.3s ease;
        padding: 0 30px 0 5px;
        margin-bottom: 7px;
        &:hover,&:focus{
            border: 1px solid #1d78fd;
        }
    }
    button{
        color: #fff;
        background: #1d78fd;
        border-radius: 2px;
        display: block;
        border: none;
        transition: all 0.3s ease;
        display: flex;
        align-items: center;
        transition: all 0.3s ease;
        line-height: 26px;
        position: absolute;
        top: 0;
        right: 0;
        &:hover{
            background: #1563d5;
            transition: all 0.3s ease;
        }
    }
}
.note-list{
    .note-item{
        padding: 5px;
        font-size: 13px;
        &.active{
            background: #C8F2C8;
        }
    }
}

.minw{
    min-width: 109px;
    text-align: center;
}
.state.state-pending.minw{
    border: 1px solid #d8a50c;
    color: #fff;
    background: #d8a50c;
}
.state.state-reject.minw {
    border: 1px solid #DC3545;
    color: #fff;
    background: #DC3545;
}
.state.state-success.minw {
    border: 1px solid #28A745;
    color: #fff;
    background: #28A745;
}
.state.state-done.minw {
    border: 1px solid #28A745;
    color: #28A745;
    background: #d3f3da;
}

.tbl-footer{
    .pagination{
        justify-content: flex-end;
        .page-link{
            font-size: 12px;
            padding: 6px 10px;
        }
    }
}

.box-img {
    position: relative;
    overflow: hidden;
    width: 70px;
    height: 60px;
    &:before {
        content: '';
        display: block;
        padding-bottom: 66.6667%;
    }
    img{
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        object-fit: cover;
        width: 100%;
    }
}
.avt-user{
    margin-right: 10px;
    @include mobile-horizontal{
        margin-bottom: 10px;
    }
}

.panigation-category{
    padding: 7px 0 0;
    display: flex;
    justify-content: flex-end;
    .page-link{
        font-size: 12px;
        padding: 6px 10px;
    }
}

.tick-checkbox {
    display: flex;
    align-items: center;
    justify-content: center;
}
.pd-0{
    padding: 0;
}
.box-cashier{
    padding: 7px 0;
    border: 1px solid #ddd;
}
.field-cashier{
    display: flex;
    align-items: center;
    .lbl-cashier{
        margin-right: 10px;
        font-weight: 500;
    }
    @include mobile{
        display:block;
        .lbl-cashier{
            margin-bottom: 4px;
        }
    }
}
.search-cashier-ip{
    position: relative;
    input{
        width: 300px;
        background-color: #fff;
        height: 28px;
        border-radius: 2px;
        border: 1px solid #6c757d;
        transition: all 0.3s ease;
        padding: 0 30px 0 5px;
        &:hover,&:focus{
            border: 1px solid #1d78fd;
        }
        @include mobile{
            width: 100%;
        }
    }
    button{
        color: #fff;
        background: #1d78fd;
        border-radius: 2px;
        display: block;
        border: none;
        transition: all 0.3s ease;
        display: flex;
        align-items: center;
        transition: all 0.3s ease;
        line-height: 26px;
        position: absolute;
        top: 0;
        right: 0;
        &:hover{
            background: #1563d5;
            transition: all 0.3s ease;
        }
    }
}
.box-cashier{
    padding: 7px;
    .flex-data{
        margin-bottom:4px;
    }
}
.line-gray{
    height: 1px;
    width: 100%;
    background: #ddd;
    margin: 5px 0 10px;
}
.cl-green{
    color: #40cf4f;
}
.txt-careceipt{
    padding-left: 7px;
    font-weight: 500;
}
.box-tbl-fn {
    border: 1px solid #ddd;
    padding: 7px 0;
}

.icon-checkbox{
    input[type=checkbox] {
        position: relative;
        border: 2px solid #0DA4B7;
        border-radius: 50%;
        background: none;
        cursor: pointer;
        line-height: 0;
        outline: 0;
        padding: 0 !important;
        vertical-align: text-top;
        height: 18px;
        width: 18px;
        -webkit-appearance: none;
        opacity: .5;
      }
      
      input[type=checkbox]:hover {
        opacity: 1;
      }
      
      input[type=checkbox]:checked {
        background-color: #0DA4B7;
        opacity: 1;
        
      }
      
      input[type=checkbox]:before {
        content: '';
        position: absolute;
        right: 50%;
        top: 50%;
        width: 5px;
        height: 10px;
        border: none;
        border: solid transparent;
        border-width: 0 2px 2px 0;
        margin: -1px -1px 0 -1px;
        transform: rotate(45deg) translate(-50%, -50%);
        z-index: 2;
      }
      input:checked:before{
        content: '';
        position: absolute;
        right: 50%;
        top: 50%;
        width: 5px;
        height: 10px;
        border: none;
        border: solid #fff;
        border-width: 0 2px 2px 0;
        margin: -1px -1px 0 -1px;
        transform: rotate(45deg) translate(-50%, -50%);
        z-index: 2;
      }
}
.mb-2-mobile{
    @include mobile{
        margin-bottom: 7px;
    }
}
.tree{
    padding: 0 0 0 16px;
    &:before{
        left: 8px;
    }
    > .tree-item{
        font-weight: 500;
        color: #000;
    }
    .tree-item-name{
        color: #000;
    }
    .tree-item{
        &:before{
            left: -8px;
            width: 11px;
        }
        .icon-item{
            display: none !important;
        }
    }
    > .tree-branch{
        .tree-branch-header{
            font-weight: 500;
            color: #000;
        }
    }
    .tree-branch{
        position: relative;
        &:before{
            left: -8px;
            width: 11px;
        }
        .tree-branch-children:before{
            left: -9px;
        }
        .tree-branch-header{
            .icon-folder{
                position: absolute !important;
                top: 10px !important;
                left: -13px !important;
            }
        }
    }
}
.tree .tree-item.tree-selected, .tree .tree-item.tree-selected:hover {
    background-color: #1D78FD;
    .tree-item-name{
        color: #ffffff;
    }
}
.content_report{
    max-height: calc(100vh - 455px);
    overflow-y: auto;
    @include tablet{
        max-height: 100%;
        overflow: unset;
    }
    &::-webkit-scrollbar{
        width: 4px;
    }
    &::-webkit-scrollbar-track{
        background: #f1f1f1;
    }
    &::-webkit-scrollbar-thumb{
        background: #888;
    }
    &::-webkit-scrollbar-thumb:hover{
        background: #555;
    }
}
input[readonly] {
    background-color: #e9ecef !important;
    cursor: text !important;
}
.select2-container--default .select2-selection--single .select2-selection__rendered{
    color: #000;
}
.select2-container--default .select2-selection--single, .select2-container--default .select2-selection--multiple{
    border-radius: 2px;
    border: 1px solid #6c757d;
}
.select2-container--default .select2-selection--single .select2-selection__arrow b{
    border: 0;
    width: 10px;
    height: 15px;
    top: 25%;
    //background: #000;
    &:before{
        content: "\f107";
        font-family: 'Font Awesome 5 Free';
        font-weight: 900;
        font-size: 15px;
    }
}
.select2-selection__choice__remove{
    height: auto;
}