// ======================================================
// Layout :: Header
// ======================================================
header{
    background-color: #fff;
    position: relative;
}
.navigation {
    display: flex;
    align-items: center;
    // position: relative;
}

.logo {
    width: 35px;
    margin-right: 15px;

    h1 {
        margin: 0;
        line-height: 0;

        a {
            display: block;
        }
    }
}

.nav-block {
    display: flex;
    align-items: center;

    ul.menu-parent {
        display: flex;
        @include mobile{
            background: #f2f2f2;
        }
        >li {
            >a {
                display: block;
                padding: 10px;
                padding: 5px 15px;
                text-transform: uppercase;
                font-size: 14px;
            }

            &:hover, &.active {
                >a {
                    background-color: #1D78FD;
                    color: #fff;
                }

                >.menu-child {
                    display: flex;
                    @include mobile{
                        display: block
                    }
                }
            }
            
            .menu-child {
                position: absolute;
                top: 98%;
                left: 0;
                align-items: center;
                background: #1D78FD;
                width: 100%;
                padding: 5px;
                display: none;
                

                li {
                    margin-right: 10px;

                    a {
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        flex-direction: column;
                        padding: 9px 13px 2px;
                        color: #fff;
                        border: 1px solid rgba(255, 255, 255, 0.35);
                        font-size: 14px;
                        img,svg {
                            width: 16px;
                            margin-bottom: 4px;
                        }

                        &:hover {
                            background: rgba(255, 255, 255, 0.14);
                        }
                    }
                }
                @include mobile{
                    position: unset;
                    display: block;
                    background: #1d78fdc9;
                    padding: 0;

                    li {
                        margin-right: 0;
                        a {
                            background-color: transparent;
                            border: none;
                            border-bottom: 1px solid #ffffff63;
                            flex-direction: initial;
                            justify-content: flex-start;
                            img,svg{
                                margin-right: 6px
                            }
                        }
                        &:last-child{
                            a{
                                border-bottom: none;
                            }
                        }
                    }
                }
            }

        }

        @include mobile {
            left: -100%;
            display: block;
            position: fixed;
            background: #fff;
            top: 31px;
            width: 100%;
            height: 100%;
            transition: 0.3s;
            z-index: 999;

            >li {
                border-bottom: 1px solid #ddd;

                >a {
                    padding: 10px 15px;
                    color: #212121;
                    font-weight: 600;
                    text-transform: initial;
                }

                &:hover {
                    a {
                        background: #f7f7f7;
                        color: #212121;
                    }
                }
            }
        }
    }

    &.open-mb {
        .menu-parent {
            left: 0;
            transition: 0.3s;
            
        }
    }
}

.menu-private {
    display: none;
    position: fixed;
    right: 15px;
    top: 7px;
    @include mobile{
        top: 7px;

    }

    button {
        background: transparent;
        border: none;
        padding: 0;
        outline: none;
        height: auto;
        .line-main {
            background: #707070;
            width: 18px;
            height: 3px;
            border-radius: 10px;
            display: block;
            margin-bottom: 3px;
            pointer-events: none;
            transition: all 0.3s;
        }
    }

    .view-menu-mb {
        &.change-icon-mb {
            .line-1 {
                transform: translateY(5px) translateX(0) rotate(45deg);
                transition: all 0.3s;
            }

            .line-2 {
                opacity: 0;
                transition: all 0.3s;
            }

            .line-3 {
                transform: translateY(-7px) translateX(0) rotate(-46deg);
                transition: all 0.3s;
            }
        }
    }

    @include mobile {
        display: block;

    }
}

.header-home {
    border-bottom: 1px solid #ddd;
    @include mobile{
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        background-color: #fff;
        z-index: 999;
    }
}

.navigation-head{
    display: flex;
    justify-content:space-between;
    @include mobile{
        padding-right: 27px;
    }
}
.block-info{
    display: flex;
    .language{
        margin-right: 10px;
        a{
            transition: all 0.3s ease-out;
            img{
                width: 20px;
            }
            &:hover{
                transform: scale(1.1);
                transition: all 0.3s ease-out;
            }
        }
    }
}
.user-name{
    font-weight: 500;
}