// ======================================================
// Base :: Global
// ======================================================

*,*:before,*:after{
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
}
body{
  margin: 0;
  padding: 0;
  background: #fff;
  color: #1c1e21;
  font-family: 'Roboto', sans-serif;
  direction: ltr;
  line-height: 1.34;
  unicode-bidi: embed;
  font-size: 14px;
  @include tablet{
    font-size: 13.5px;
    line-height: 16px;
  }
}
input:focus{
  outline: none !important;
}
.d-none-tablet-horizontal{
  @include tablet-horizontal{
    display: none;
  }
}
